{% extends "base.html "%}
{% block title %}the meeting{% endblock %}
{% block head %}
<style>
  .page_container{
    display: flex;
  }
  .chat-container {
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding: 10px;
    width: 20%;
    height: 90%;
    left: 80%;
    position: absolute;
  }
  .message {
    margin-bottom: 10px;
  }
  .sender {
    font-weight: bold;
  }
  .uservideo{
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 60%;   
  }

  .filecon{
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 40%;
    width: 20%;
    height: 20%;
  }
  .sendfilebtn{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sendtxtbox{
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0%;
    width: 35%;
    height: 10%;
  }
</style>
{% endblock %}
{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://localhost:5000');

      socket.on('get_txt_message', function(message) {
        $('#chat-container').append('<p>' + message + '</p>');
    });
      socket.on('connect', function() {
      console.log('Connected to server');
    });
      socket.on('error', function(err) {
      console.log('Socket error:', err);
    });

      function sendtxtMessage() {
            var message = $('#txtinptchat').val();
            $('#txtinptchat').val('');
            socket.emit('message', message);
      }

    </script>
<div class="page_container">
  <div class="sendtxtbox">
    <input id="txtinptchat" type="text" class="form-control" placeholder="type a message to chat!" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="txtbtnchat" onclick="sendtxtMessage()">Send</button>
  </div>
  <div class="filecon">
    <input class="form-control form-control-lg" id="formFileLg" type="file">
    <button type="button" class="sendfilebtn">send file</button>
  </div>
    <div class="uservideo">
      <img src="{{ url_for('video') }}" width="50%"/>
    </div>

	<div class="chat-container" id="chat-container">
		<p> this is the chat! </p>
	</div>
</div> 
{% endblock %}            