{% extends "base.html "%}
{% block title %}the meeting{% endblock %}
{% block head %}
<style>
  .page_container{
    display: flex;
  }
  .chat-container {
    overflow-y: scroll;
    padding: 10px;
    width: 20%;
    height: 90%;
    left: 80%;
    position: absolute;
    border-color: black;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 80vh;
    display: flex;
    flex-direction: column;
    width: 80vw;
    align-items: stretch;
  }
  .message {
    margin-bottom: 10px;
  }
  .sender {
    font-weight: bold;
  }
  .uservideo{
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 60%;   
  }

  .filecon{
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 40%;
    width: 20%;
    height: 20%;
  }
  .sendfilebtn{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sendtxtbox{
    display: inline-block;
    position: fixed;
    bottom: 0;
    left: 0%;
    width: 35%;
    height: 10%;
  }
  .grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
  padding: 10px;
  width: 60%;
  height: 40%;
}

.grid-container > div {
  background-color: rgba(56, 56, 56, 0.8);
  border: 3px solid black;
  

  
}
.vid{
  width: 100%;
  height: 100%;
}
</style>
{% endblock %}
{% block content %}
    
<div class="page_container">
  <div>
    <h3>roomname : {{roomname}} | roompassword : {{roompassword}}</h3><br>
    <div class="grid-container">
      <div ><video autoplay="true" id="videoElement1" class="vid" ></video></div>
      <div ><video autoplay="true" id="videoElement2" class="vid" ></video></div>
      <div ><video autoplay="true" id="videoElement3" class="vid" ></video></div>
      <div ><video autoplay="true" id="videoElement4" class="vid" ></video></div>
      <form method="POST">
        <div>
          <button name="opnvid">open video</button>
        </div>
      </form>
    </div>
    
  </div>
  
  <div class="sendtxtbox">
    <input id="txtinptchat" type="text" class="form-control" placeholder="type a message to chat!" aria-describedby="button-addon2">
    <button class="btn btn-outline-secondary" type="button" id="txtbtnchat" onclick="sendtxtMessage()">Send</button>
  </div>

	<div class="chat-container" id="chat-container">
		<p> this is the chat! </p>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.6.1/socket.io.js"></script>
    <script src="/static/simplewebrtc.bundle.js"></script>
    <script src="/static/socket.io.js"></script>
    <script type="text/javascript">
      var socketio = io();
      var c=1;

      const messages = document.getElementById("chat-container");

      navigator.mediaDevices.getUserMedia({ video: true })
        .then(function (stream) {
          var video = document.getElementById('videoElement1');
          video.srcObject = stream;
          socketio.emit('stream', stream);
        })
        .catch(function (error) {
          console.log(error);
        });

      const createMessage = (name, msg) => { //create new msg to apper in chat
        //document.write("fadsffdsafafsda");
        const content = `
        <div class="text">
            <span>
                <strong>${name}</strong>: ${msg}
            </span>
        </div>
        `;
        $('#chat-container').append(content);
      };                                        

      socketio.on("message", (data) => {          //activates when i get a msg from the server
        createMessage(data.name, data.message);
      }); 


      socketio.on('stream', function (stream) {
        var vid = document.getElementById('videoElement2');
        vid.srcObject = stream;
      });

      const sendtxtMessage=()=>{                  //sendtxtMessage func
        const message = document.getElementById("txtinptchat");
    if (message.value == "") return;
    socketio.emit("txtmessage", { data: message.value });
    message.value = "";
      }   
    </script>
{% endblock %}            